* {
    box-sizing: border-box;
}

#brand {
    position: absolute;
    left: 0px;
}

.brand {
    font-size: 2em;
}

li {
    border: 2px, black, solid;
    background-color: blueviolet;
}

li>div {
    font-size: 1.4em;
    width: 100%;
    border: 2px black solid;
}

li a, li a:hover {
    text-decoration: none;
    color: #000;
}

.chicken, .beef, .sushi {
    height: auto;
    padding: 15px;
    position: relative;
    border: 2px black solid;
    margin: 15px;
    background-color: grey;
}

p>a {
    text-decoration: underline;
}